* {
    color: #2e2e2e;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(209, 209, 209);
}

p {
    margin: 0;
}

a {
    color: #2e2e2e;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn {
    color: #d6d6d6;
    background-color: #3a3a3a;
    transition: all 100ms linear;
    position: relative;
}

.btn:hover {
    color: #0077ff;
    transform: scale(1.05, 1.05);
    transition: all 100ms linear;
}

#connexion-drop:hover {
    transform: scale(1, 1);
    box-shadow: none;
}

.row {
    justify-content: center;
}

.save-btn {
    padding: 0.05em 0.3em;
    margin-left: 0.5em;
}

.drop-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    padding: 1rem 0.5rem;
    border: solid #3a3a3a 1px;
    border-radius: 5px;
    border-top-right-radius: 0;
    transition: all 100ms linear;
    max-width: 230px;
    right: 15px;
    z-index: 1;
}

#inscription {
    color: #0077ff;
    font-size: 0.9rem;
    font-style: italic;
}

#inscription:hover {
    text-decoration: underline;
}

.drop-menu input[type=submit] {
    padding: 0.1rem 0.3rem;
    margin-top: 1rem;
}

input {
    color: #d6d6d6;
    /* border-radius: 3px; */
}

#logo-mycinema {
    width: 350px;
    height: auto;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

header nav {
   margin: auto 0;
}

header input[type=search] {
    height: 32px;
    -webkit-appearance: textfield;
}

header nav ul {
    padding-top: 2%;
    display: flex;
    justify-content: right;
    align-items: center;
}

header nav ul li {
    margin-left: 20px;
}

#find-member {
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #979797, -0px -0px 5px #979797;
    margin-bottom: 100px;
}

#find-member p {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}

#find-member h5 {
    margin-bottom: 15px;
}

#find-member > form > input:nth-child(1),
#find-member > form > input:nth-child(2) {
    margin-right: 20px;
}

#search-result {
    display: flex;
    align-content: left;
    flex-direction: column;
}

#search-result:last-child {
    margin-bottom: 6rem;
}

.back-btn {
    margin-bottom: 15px;
}

.member-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #979797, -0px -0px 5px #979797;
}

.member-item p {
    margin: 0;
}

.member-item button {
    padding: .275rem .5rem;
    margin-left: 20px;
}

.member-more {
    display: none;
    position: absolute;
    width: 95%;
}

.member-more p {
    margin-bottom: 0.2em;
}

.member-more p:first-child {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #0077ff;
}

.member-more p:last-child {
    margin-bottom: 0;
}

.member-more select {
    color: #fff;
}

.member-info {
    display: flex;
    align-items: center;
}

#movie {
    display: flex;
    justify-content: center;
}

.movie-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #979797, -0px -0px 5px #979797;
    margin-top: 0.5em;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-item button {
    margin-top: 0.5em;
}

.more-info {
    display: none;
    position: absolute;
}

.more-info p {
    margin-bottom: 0.2em;
}

.more-info p:last-child {
    margin-bottom: 0;
}

.more-info a {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #3a3a3a;
    color: #0077ff;
}

.more-info a:hover {
    color: #004ea7;
}

#movie:last-child {
    margin-bottom: 6em;
}

.search-movie {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #979797, -0px -0px 5px #979797;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-movie h3 {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1em;
}

.search-movie form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-movie input[type=submit] {
    margin-top: 2em;
    max-width: 7em;
}

.search-movie input[type=date] {
    width: 9rem;
    -webkit-appearance: textfield;
}

#today-movie {
    display: flex;
    flex-direction: column;
}

#today-movie h3 {
    text-decoration: underline;
    margin-bottom: 2rem;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.form-item label {
    margin: 0;
    margin-right: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.form-item input {
    width: 15em;
}

.form-item option {
    width: 10em;
    color: #ffffff;
}

.form-item select {
    color: #ffffff;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer > div {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #fff;
}

footer > div > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

.historique-list p:first-child {
    border: none;
}

.historique-list {
    max-height: 200px;
    overflow: auto;
}

.commentaire {
    margin-top: 20px;
    margin-bottom: 20px;
}

.avis:last-child {
    margin-bottom: 6em;
}

.add-avis {
    padding: 0.05rem 0.4rem;
}

.text-area {
    display: flex;
    flex-direction: column;
}

.text-area:first-child {
    margin-top: 10px;
}

textarea {
    color: #fff;
    margin-bottom: 10px;
}

select {
    color: #fff;
}

#form-inscription {
    display: flex;
}

#form-inscription > div {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#section-email > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section-email > div:first-child,
#section-pwd > div:first-child {
    margin-right: 1rem;
}

#section-email > div:last-child,
#section-pwd > div:last-child {
    margin-left: 1rem;
}

#section-pwd > div {
    display: flex;
    flex-direction: column;
}

#info-membre {
    display: flex;
    flex-direction: column;
}

#info-membre label {
    margin: 0;
}

#info-membre > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#info-membre > div > input {
    margin-left: 0.5rem;
}

#display-btn {
    margin-top: 20px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-around;
}

#page-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#page-list a {
    margin-right: 10px;
}

#page-list a:last-child {
    margin-left: 0;
}

#page-list a:hover {
    text-decoration: underline;
}

#pagination {
    flex-direction: row;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#pagination p,a {
    margin-left: 5px;
    margin-right: 5px;
}

#pagination b {
    color: #0077ff;
}

#result-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#not-acces {
    margin-top: 15px;
    text-align: center;
}